.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.page-div {
  display: flex
}
.page-idx{
margin: 50px 12px;
}
h3{
  text-align: center;
}
